html {
  font-size: 62.5%; // 10 / 16 * 100% = 62.5%
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
}
