// Fonts
$primary-font: 'Noto Sans Bengali', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Colors
$white-color: #ffffff;

$light-gray-color: #fafafa;
$dark-gray-color: #737373;
$darker-gray-color: #404040; // 525252

$main-color: #ef4444; // #ef4444
$main-light-color: #fff6f6; // #ef4444

$transparent-color: rgba(0, 0, 0, 0);

// Warning Color
$waring-color: #eab308;
$positive-color: #22c55e;
$negative-color: #ef4444;
$message-color: #3b82f6;
$neutral-color: #737373;

// Spacing
$base-value: 0.4rem;
