#content {
  width: max-content;
  height: max-content;

  #hero {
    width: 100vw;
    height: 100vh;
    padding: 5.2rem 0;

    background: linear-gradient(
        90deg,
        rgba($main-color, 0.2) 0%,
        rgba($main-color, 0.7) 50%,
        rgba($main-light-color, 1) 50%
      ),
      url(../assets/images/nikah-deen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 62em) {
  // 992px / 16px = 62em
  #hero {
    background: $main-light-color !important;
  }
  .media {
    display: none;
  }
  .account {
    width: 100%;
  }
}
