<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>নিকাহ্ দ্বীন &dash; বাংলাদেশী অনলাইন মেট্রিমনি</title>

    <!-- Fontawesome File -->
    <link type="text/css" rel="stylesheet" href="./css/all.min.css" />
    <link type="image/x-icon" rel="icon" href="/assets/images/favicon.ico" />
    <!-- Fontawesome File -->
    <link type="text/css" rel="stylesheet" href="./css/all.min.css" />

    <!-- Main CSS Files -->
    <link type="text/css" rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <!-- Content area starts from here -->
    <main id="content"></main>
    <!-- Content area ends -->
  </body>
</html>
